<div class="container-fluid">
    <div class="top-nav row-fluid">
        <div class="col-md-1"><a href="{{backlink.url}}"><h3>Back</h3></a></div>
        <div class="col-md-10"><a href="/login"><h3>Home</h3></a></div>
    </div>

        {{#each likes}}
        <div style="font-size:{{fontSize}}px">
            {{word}} ({{count}})
        </div>
        {{/each}}
</div>