<div class="container-fluid">

    <a href="/auth/instagram">
        <img src="img/instagram-logo.png" width="300" height="300"/>
    </a>

    <a href="/auth/facebook">
        <img src="img/facebook-logo.png" width="340" height="340"/>
    </a>

</div>